<!DOCTYPE html>
<html>
  <head>
    <title>Met | Middle-earth travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <% myAPIkey = 'AIzaSyClvtFmhtccsPnzfIx5zOrT9c5YM6lr26E' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{myAPIkey}" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag '/met_logo.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
